.about-us {
  background-image: url('photos/aboutus.jpg');
  background-size: cover;
}

.box {
  background-color: rgb(214,110,22);
  padding: 4em;
  opacity: 1;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.box-right {
  background-color: rgb(171,64,64);
  padding: 2em;
  color: white;
  text-align: center;
  max-width: 800px;
  line-height: 1.5;
}

.box-left {
  text-align: center;
  background-color: white;
  max-width: 30%;
}

@media screen and (min-width: 900px) {
	.box-box {
		display: flex;
	}
}

.location {
  background-image: url('photos/MPB-9.jpg');
  color: white;
  text-align: center;
}

.overlay-box {
  background-color: rgb(214,110,22);
  opacity: 1;
}
