@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

.heading-top h1 {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 2.25em;
  color: rgb(40,21,16);
  text-align: center;
	padding-top: .02em;
}

.heading-top .transparent-box {
	background-color: rgb(213,169,106);
	padding: 1em;
	margin-top: -.25em;
	margin-left: -2em;
	margin-right: -2em;
	margin-bottom: 1em;
	opacity: 1;
}

.transparent-box2 {
	background-color: white;
	padding-top: .25em;
	margin-top: -2.75em;
	margin-left: -1em;
	margin-right: -1em;
	padding-bottom: .8em;
}

h2 {
  color: white;
  text-align: center;
}

.box .featured h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 1.35em;
	color: rgb(40,21,16);
	text-align: center;
}

.box .featured h4 {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
  color: rgb(40,21,16);
  text-align: center;
}

.box .featured h1 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
	color: white;
  text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

.heading-top {
	max-height: 5px;
  padding: 1em;
  margin: -1em;
  margin-left: -.5em;
  margin-right: -.5em;
  }

.box .featured {
	background-image: url("Photos/drafts.jpg")
  background-size: 509px;
	max-height: 254px;
  padding: 1em;
  margin: -1em;
  margin-left: -.5em;
  margin-right: -.5em;
  opacity: 1;
	margin-top: 31em;
  }

.box .featured hr {
	border: 0;
	width: 408px;
	height: 1px;
	background-color: rgb(40,21,16);
}

.box .currentbrews {
    background-color: rgb(146,109,90);
    padding: 1em;
    margin: -1em;
    margin-left: -.5em;
    margin-right: -.5em;
		margin-top: 32em;
    }

.currentbrews hr {
	border: 0;
	width: 408px;
	height: 1px;
	background-color: rgb(40,21,16);
}

.heading-top p {
		font-family: 'works sans', sans-serif;
		font-weight: 300;
    color: rgb(40,21,16);
    text-align: center;
    margin-left: 4.25em;
    margin-right: 4.25em;
		margin-top: .5em;
		margin-bottom: 1.75em;
  }

.currentbrews p {
		font-family: 'works sans', sans-serif;
		font-weight: 300;
    color: rgb(40,21,16);
	  text-align: center;
	  margin-left: 2em;
	  margin-right: 2em;
	  }

.box .featured p {
		font-family: 'works sans', sans-serif;
		font-weight: 200;
    color: rgb(40,21,16);
	  text-align: center;
	 	margin-left: 2em;
	  margin-right: 2em;
		}

.box .featured h5 {
		font-family: 'work sans', sans-serif;
		font-weight: 700;
		color: rgb(40,21,16);
		text-align: center;
		margin-bottom: 1.195em;
		}

.currentbrews h5 {
	font-family: 'work sans', sans-serif;
	font-weight: 700;
	color: rgb(40,21,16);
	text-align: center;
}

.currentbrews h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 1.35em;
	color: rgb(40,21,16);
	text-align: center;
}

.box .currentbrews h1 {
			font-family: 'work sans', sans-serif;
			font-weight: 600;
			font-size: 3.5em;
		  color: rgb(40,21,16);
		  text-align: center;
			margin-top: .25em;
	}

.footer h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 1.35em;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer-block {
	background-color: rgb(40,21,16);
	margin-top: -2em;
	margin-bottom: -1em;
	margin-right: -.5em;
	margin-left: -.5em;
}

@media screen and (min-width: 650px) {
	.footer-block {
		margin-top: 19em;
		margin-bottom: -3em;
		padding-top: -4em;
		padding-bottom: -4em;
	}

.footer h3 {
	font-size: 1em;
	}
}

@media screen and (min-width: 750px) {
	.current-brews {
	  background-image: none;
	}
}

@media screen and (min-width: 750px) {
	.heading-top .transparent-box {
		margin-left: 40em;
		margin-right: -1em;
		margin-top: -5.7em;
		padding-top: 7em;
		padding-bottom: 2.5em;
	}

	.heading-top p {
		font-size: 1.4em;
		margin-top: 0;
		margin-left: 2.25em;
		margin-right: 2.25em;
	}
}

@media screen and (min-width: 775px) {
	.heading-top h1 {
		margin-left: 18.25em;


}

@media screen and (min-width: 775px) {
	.box .featured {
		background-image: url("Photos/drafts.jpg")
	  }
}
