@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

.banner-images .two-beers {
	background-size: cover;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  max-height: 656px;
  z-index: -5;
  }

.heading-top h1 {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 2.25em;
  color: white;
  text-align: center;
}

.heading-top .transparent-box {
	background-color: rgb(245,210,73);
	padding: 1em;
	margin-top: -.25em;
	margin-left: -.5em;
	margin-right: -.5em;
	margin-bottom: 1em;
	opacity: .4;
}

.transparent-box2 {
	background-color: rgb(171,64,64);
	padding-top: .25em;
	margin-top: -1.03em;
	margin-left: -1em;
	margin-right: -1em;
	margin-bottom: -1em;
	opacity: .5;
}

h2 {
  color: white;
  text-align: center;
}

.box .featured h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 1.35em;
	color: white;
	text-align: center;
}

.box .featured h4 {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
  color: white;
  text-align: center;
}

.box .featured h1 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
  color: white;
  text-align: center;
}

.box .featured {
	background-image: url("Photos/drafts.jpg")
  background-size: cover;
  padding: 1em;
  margin: -1em;
  margin-left: -.5em;
  margin-right: -.5em;
  opacity: 1;
  }

.box .featured p {
	color: white;
}

.box .currentbrews {
    background-color: rgb(164,112,82);
    padding: 1em;
    margin: -1em;
    margin-left: -.5em;
    margin-right: -.5em;
    opacity: 1;
    }

.currentbrews hr {
	border: 0;
	width: 408px;
	height: 1px;
	background-color: black;
}

.heading-top p {
		font-family: 'works sans', sans-serif;
		font-weight: 200;
    color: white;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
		opacity: 1;
  }

p {
		font-family: 'works sans', sans-serif;
		font-weight: 300;
    color: rgb(40,21,16);
	  text-align: center;
	  margin-left: 2em;
	  margin-right: 2em;
	  }

.currentbrews h5 {
	font-family: 'work sans', sans-serif;
	font-size:;
	font-weight: 700;
	color: rgb(40,21,16);
	text-align: center;
}

.currentbrews h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 1.35em;
	color: rgb(40,21,16);
	text-align: center;
}

.box .currentbrews h1 {
			font-family: 'work sans', sans-serif;
			font-weight: 600;
			font-size: 3.5em;
		  color: rgb(40,21,16);
		  text-align: center;
	}

.footer h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 1.35em;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer-block {
	background-color: rgb(40,21,16);
	margin-top: -2em;
	margin-bottom: -1em;
	margin-right: -.5em;
	margin-left: -.5em;
}
