@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

.banner-images .two-beers {
	background-size: cover;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  max-height: 656px;
  z-index: -5;
  }

.heading-top h1 {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 2.25em;
  color: white;
  text-align: center;
}

.heading-top .transparent-box {
	background-color: rgb(214,110,22);
	padding: 1em;
	margin-top: -.25em;
	margin-left: -.5em;
	margin-right: -.5em;
	margin-bottom: 1em;
	opacity: .75;
}

h2 {
  color: white;
  text-align: center;
}

.box .featured h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 1.35em;
	color: white;
	text-align: center;
}

.box .featured h4 {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
  color: white;
  text-align: center;
}

.box .featured h1 {
	font-family: 'work sans', sans-serif;
	font-weight: 600;
	font-size: 2em;
  color: white;
  text-align: center;
}

.box .featured {
	background-image: url("Photos/drafts.jpg")
  background-size: cover;
  padding: 1em;
  margin: -1em;
  margin-left: -.5em;
  margin-right: -.5em;
  opacity: 1;
  }

  .box .currentbrews {
    background-color: rgb(214,110,22);
    padding: 1em;
    margin: -1em;
    margin-left: -.5em;
    margin-right: -.5em;
    opacity: 1;
    }

.heading-top p {
		font-family: 'works sans', sans-serif;
		font-weight: 200;
    color: white;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
		opacity: 1;
  }

p {
		font-family: 'works sans', sans-serif;
		font-weight: 100;
    color: white;
	  text-align: center;
	  margin-left: 2em;
	  margin-right: 2em;
	  }

	.box .currentbrews h1 {
			font-family: 'work sans', sans-serif;
			font-weight: 600;
			font-size: 2em;
		  color: white;
		  text-align: center;
	}
