header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  }


h1 {
  font-size: 3em;
  font-family: 'work-sans', sans-serif;
}

.times {
  font-weight: lighter;
}

body {
  text-align: center;
}

@media screen and (min-width: 650px) {
.feature {
  margin: 0;
  padding: 0;
  background: url('photos/friends.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 800px;
  }
}

@media screen and (max-width: 650px) {
  .feature {
    margin-top: 300px;
  }
}

.content {
  padding: 50px;
  background-color: rgb(146,109,90);
  color: white;
  text-shadow: 0 3px 4px rgba(0,0,0,0.8);
  z-index: 1;
}

.content .wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
}

.feature hr {
  border: 0;
	height: 1px;
  background-color: white;
  box-sizing: border-box;
}
}
