 h1 {
  font-size: 40px;
  text-align:center;
}

p {
  text-align: center;
  font-size: 16px;
  line-height: 2em;
  padding-bottom: 30px;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.sample-content {
  position: relative;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  color: white;
  margin-top: 500px;
  text-shadow: 0 3px 4px rgba(0,0,0,0.8);
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
}
