@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

h1, h2, h3, p {
  font-family: 'work-sans', sans-serif;
}

.twobeers-picture {
  background-image: url('Photos/2beers.jpg');
  max-width: 50%;
}

.hoppy-hour {
  background-image: url('Photos/2beers.jpg');
  background-size: cover;
}

.box .featured {
  background-image: url('Photos/drafts.jpg');
  background-size: 509px;
}

.hopps-mark img {
  max-width: 100%;
  max-height: 80px;
  background-color: rgb(214,110,22);
  margin-top: -.5em;
  opacity: 1;
}

.wrapper {
  font-family: 'work sans',  sans-serif;
  font-weight: 200;
  background-color: rgb(40,21,16);
  opacity: 1;
  padding: .05em;
  margin-top: -.25em;
  margin-left: -.5em;
  margin-right: -.5em;

}

.wrapper nav ul {
  text-align: center;
  padding: 0;
}

.wrapper li {
  list-style: none;
}

.wrapper a {
  font-size: 1.25em;
  color: white;
  text-decoration: none;

}

.wrapper a:hover {
  color: rgb(214,110,22);
}

@media screen and (min-width: 650px) {
  .wrapper nav ul {
		display: flex;
    justify-content: space-around;
  }
}

body {
  margin: 0;
  font-family: 'work-sans', sans-serif;
}

.footer h3 {
	font-family: 'work sans', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 1.35em;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer-block {
	background-color: rgb(40,21,16);
	margin-top: -2em;
	margin-bottom: -1em;
	margin-right: -.5em;
	margin-left: -.5em;
}

@media screen and (min-width: 650px) {
	.footer-block {
		margin-top: 19em;
		margin-bottom: -3em;
		padding-top: -4em;
		padding-bottom: -4em;
	}

	.footer h3 {
		font-size: 1em;
	}  
  }
