@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

.current-brews {
  background-image: url('Photos/2beers.jpg');
  background-size: cover;
}

.hoppy-hour {
  background-image: url('Photos/2beers.jpg');
  background-size: cover;
}

.featured {
  background-image: url('Photos/drafts.jpg');
  background-size: cover;
}

.hopps-mark img {
  max-width: 100%;
  max-height: 80px;
  items-align: center;
  background-color: rgb(214,110,22);
  opacity: 0.7;
}

.wrapper {
  font-family: 'work sans',  sans-serif;
  font-weight: 300;
  background-color: rgb(171,64,64);
  opacity: 0.6;
  padding: .75em;
}

.wrapper nav ul {
  text-align: center;
  margin: 0;
  padding:0;
}

.wrapper li {
  list-style: none;
}

.wrapper a {
  font-size: 1.25em;
  color: white;
  background-color: rgb(171,64,64);
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .wrapper a {
		display: flex;
    justify-content: space-around;
  }
}
