@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

.hopps-mark img {
  max-width: 100%;
  max-height: 80px;
  items-align: center;
  background-color: rgb(214,110,22);
  opacity: 0.7;
}

.wrapper {
  font-family: 'dosis', sans-serif;
  background-color: rgb(171,64,64);
  opacity: 0.6;
  padding: .75em;
}

.wrapper nav ul {
  text-align: center;
  margin: 0;
}

.wrapper li {
  list-style: none;
}

.wrapper a {
  font-size: 1.25em;
  color: white;
  background-color: rgb(171,64,64);
  text-decoration: none;
}
