.banner-images .drafts {
  background-image: url("Photos/drafts.jpg");
	background-size: cover;
  max-height: 100%;
  padding: 1em;
  margin: -1em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-top: 0;
}

.box {
  padding: 3em;
  margin: 0 auto;
  margin-left: 5em;
  margin-right: 5em;
  background-color: rgb(214,110,22);
  opacity: .7;
}

  .footer h3 {
  	font-family: 'work sans', sans-serif;
  	font-weight: 200;
  	text-align: center;
  	font-size: 1.35em;
  	color: white;
  	padding-top: 1em;
  	padding-bottom: 1em;
  }

.quote h3 {
  font-family: 'work sans', sans-serif;
  font-weight: 600;
	font-size: 2.25em;
  background-color: rgb(213,169,106);
  color: rgb(40,21,16);
  text-align: center;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -3.75em;
  margin-top: .35em;
  padding-top: .9em;
  padding-bottom: .9em;


}

  .footer-block {
  	background-color: rgb(40,21,16);
  	margin-top: 8em;
    margin-bottom: -2em;
  	margin-right: -.5em;
  	margin-left: -.5em;
  }

  @media screen and (min-width: 650px) {
    .footer-block {
      margin-top: 30em;
      margin-bottom: -3em;
      padding-top: -4em;
      padding-bottom: -4em;
    }

  .footer h3 {
    font-size: 1em;
    }
  }

  @media screen and (min-width: 1000px) {
    .banner-images .drafts {
      max-height: 600px;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      overflow: hidden;
      max-width: 100%;
      margin-bottom: -2em;
      margin-top: 8em;
      z-index: -5;
  }
    .banner-images .drafts {
      background-size: 1300px;
      background-color: black;
      margin-top: 8.5em;
      max-width: 1268px;
      margin-left: 4.25em;
    }
}
