@media screen and (min-width: 650px) {
header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  }
}

.banner-images .drafts {
  background-image: url("Photos/drafts.jpg");
	background-size: cover;
  margin-top: 0;
}


.box {
  padding: -6em;
  margin: 0 auto;
  margin-left: 3em;
  margin-right: 3em;
  background-color: rgb(214,110,22);
  opacity: .7;
}

.box .hopps-logo  {
  margin-top: 0em;
  margin-bottom: 0em;
}

.footer h3 {
  	font-family: 'work sans', sans-serif;
  	font-weight: 200;
  	text-align: center;
  	font-size: 1.35em;
  	color: white;
  	padding-top: 1em;
  	padding-bottom: 1em;
    margin: 0 auto;
  }

.quote h3 {
  font-family: 'work sans', sans-serif;
  font-weight: 600;
	font-size: 2.25em;
  background-color: rgb(213,169,106);
  color: rgb(40,21,16);
  text-align: center;
  margin-left: -1em;
  margin-right: -.25em;
  margin-bottom: -3.75em;
  margin-top: -1em;
  padding-top: .9em;
  padding-bottom: .9em;
}

  .footer-block {
  	background-color: rgb(40,21,16);
  	margin-top: 8.45em;
  }

  @media screen and (min-width: 650px) {
    .footer-block {
      margin-top: 8em;
      margin-bottom: -3em;
      padding-top: -4em;
      padding-bottom: -4em;
    }

  .footer h3 {
    font-size: 1em;
    }

  .quote {
    margin-top: 1em;
  }

  .banner-images .drafts {
    background-size: 100%;
    max-width: 100%;
    max-height: 522px;
    margin-top: 0;
    padding: 9em;
  }

  .box {
    margin-left: 15em;
    margin-right: 15em;
    margin-top: -6em;
    margin-bottom: -6em;
  }
}
