.hours {
  padding-top: .25em;
  margin-bottom: -5em;
  }

.hours li {
  font-family: 'work sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  list-style: none;
  padding-left: 5em;
}

h1 {
  font-family: 'work sans', sans-serif;
  font-weight: 600;
  text-align: center;
}

.taproom {
  background-image: url("Photos/taproom.jpg");
	background-size: 300px;
  max-height: 300px;
  max-width: 50%;
  margin-top: -1em;
}

.taproom-info p {
  font-family: 'work sans', sans-serif;
  font-weight: 300;
  color: rgb(40,21,16);
  background-color: rgb(213,169,106);
  text-align: center;
  margin-top: 20em;
  margin-left: -1em;
  margin-right: -1em;
  padding-top: 2em;
  padding-bottom: 3.25em;
  padding-left: 4em;
  padding-right: 4em;
}

.growler-info p {
  font-family: 'work sans', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: rgb(146,109,90);
  margin-left: -1em;
  margin-right: -1em;
  margin-top:-1em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 3.25em;
  padding-bottom: 3.25em;
}

.footer h3 {
  font-family: 'work sans', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 1.35em;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-block {
  background-color: rgb(40,21,16);
  margin-top: 8em;
  margin-bottom: -2em;
  margin-right: -.5em;
  margin-left: -.5em;
}
